{% for message in messages %}
    {% if message['role'] == 'user' %}
        {{ 'USER: ' + message['content'].strip()}}
    {% elif message['role'] == 'system' %}
        {{ 'SYSTEM: ' + message['content'].strip()}}
    {% elif message['role'] == 'assistant' %}
        {{ 'ASSISTANT: '  + message['content'] + "<|endoftext|>" }}
    {% endif %}
{% endfor %}